body {
    display: flex;
    flex-direction: column;
}
article {
flex: 2;
overflow-y: auto;
color: blue;
}
aside {
    flex: 1;
    overflow-y: auto;
    text-align: right;
}
main {
    display: flex;
    flex-direction:row;
    
    flex:auto;
}

header, footer {
    padding: 10px;
    background-color: aquamarine;
}

h1 {
   border-width: 2px;
   border-style:dashed;
   border-color: aquamarine;
   padding: 2%;  
}
.logo {
    font-size: 2cm;
    color: aquamarine;
}